.btn-success {
    background-color: rgb(122, 245, 122);
    color: white;
}

.btn-danger {
    background-color: rgb(255, 72, 72);
    color: white;
}


#restaurant {
    margin-bottom: 18px;
    font-weight: bolder;
    background-color: #5de2cf;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    width: 200px;
    color: black;
}

#restaurant option {
    color: #333;
    background-color: white;
    font-size: 14px;
}

#restaurant:focus {
    background-color: #fff;
    border: 1px solid #007bff;
}

.custom-heading {
    font-size: 28px;
    color: #0c21bd;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-family: 'Mooli', sans-serif;
}