.registry {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 10px auto;
}

.registry h2 {
    font-size: 32px;
    margin-top: 200px;
    text-align: center;
    color: #ce1212;
}

.registry .text-muted {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
}

.registry .form-group {
    margin-bottom: 20px;
}

.registry .input-field {
    position: relative;
}

.registry .input-field span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #555;
    left: 10px;
}

.registry .form-control {
    border-radius: 10px;
    padding-left: 40px;
}

.registry .btn {
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.registry .btn-block {
    width: 100%;
}

.registry .my-3 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.registry .text-center {
    text-align: center;
}

.registry .text-muted a {
    color: #ce1212;
    text-decoration: none;
}

.registry .text-muted a:hover {
    text-decoration: underline;
}

.registry .text-center.pt-3 {
    padding-top: 30px;
}

.registry .text-muted a {
    color: #ce1212;
    text-decoration: none;
    font-weight: bold;
}